<div class="container">
<form name="addCarForm" novalidate>
  <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;color:#223c7a;font-size:22px;font-weight:bold">Add Car -It's Easy...It's Simple</div>
      <div class="panel-body">
      <!-- Car Information -->
      <div class="form-group col-xs-12" >
      <label  class="col-xs-12">Car Information</label>
      
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Model Year*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" ng-model="Car.modelYear" name="modelYear" required>
                <option value="">Year</option>
                <option ng-repeat="y in [] | range:yRange" value="{{curYear-$index}}">{{curYear-$index}}</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.modelYear.$dirty) && !addCarForm.modelYear.$valid">Please select model year</div>
        </div>
      <div class="col-xs-2">
      <label>Make*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" ng-model="Car.make" name="make" ng-change="makeChanged()" required>
                <option value="">Make</option>
                <option ng-repeat="mk in allMakes" value="{{mk}}">{{mk}}</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.make.$dirty) && !addCarForm.make.$valid">Please select Make</div>
        </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Model*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" ng-model="Car.model" name="model" ng-change="modelChanged()" required>
                <option value="">Model</option>
                <option ng-repeat="md in allModels" value="{{md}}">{{md}}</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.model.$dirty) && !addCarForm.model.$valid">Please select Model</div>
        </div>
      <div class="col-xs-2">
      <label >Version*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" ng-model="Car.version" name="version" required>
                <option value="">Version</option>
               <option ng-repeat="v in allVersions" value="{{v}}">{{v}}</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.version.$dirty) && !addCarForm.version.$valid">Please select Version</div>
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Registration City*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" ng-model="Car.registrationCopy" name="registrationCopy" required>
                <option value="">City</option>
               <option ng-repeat="c in allCities" value="{{c}}">{{c}}</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.registrationCopy.$dirty) && !addCarForm.registrationCopy.$valid">Please select Registration City</div>
        </div>
      <div class="col-xs-2">
      <label>Price(RS)*</label></div>
      <div class="col-xs-3">
      <div class="input-group">
               <input name="price" ng-model="Car.price" type="number" step="1" min="1000" max="10000000" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Price in Rs" />
      </div>
      <!--<div> review form is : {{addCarForm.$valid}}</div>-->
      </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-2"></div>
                <label class="col-xs-2 control-label">Upload Images</label>
                <div class="col-xs-8">
            <input  type="file" class="form-control" name="avatar" multiple accept='image/jpeg' />
        </div>
    </div>
    <div class="form-group col-xs-12" > 
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Description</label></div>
      <div class="col-xs-8">
       <textarea ng-model="Car.description" name="description" class="form-control" rows="5" ></textarea>
      </div>
    </div>
     <!-- Engine Details -->
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">Engine Details</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Engine Type*</label></div>
      <div class="col-xs-3">
            <select ng-model="Car.engineType"  class="form-control" name="engineType" required>
                <option value="">Engine Type</option>
                <option ng-repeat="types in engineTypes" value="{{types}}">{{types}}</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.engineType.$dirty) && !addCarForm.engineType.$valid">Please select Engine Type</div>
        </div>
      <div class="col-xs-2">
      <label>Engine Capacity(cc)*</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.capacity" name="capacity" type="number" step="1" min="0" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Engine Capacity" required /><div class="form-error" ng-show="(addCarForm.submitted || addCarForm.capacity.$dirty) && !addCarForm.capacity.$valid">Please enter Engine Capacity</div>
            </div>
      </div>
    </div>
    <div class="form-group col-xs-12" > 
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Transmission*</label></div>
      <div class="col-xs-3">
      <div class="radio ">
            <label>
              <input ng-model="Car.transmission" type="radio" name="transmission" value="Manual" checked required>
                Manual
            </label>
      </div>
      <div class="radio">
            <label>
              <input ng-model="Car.transmission" type="radio" name="transmission"  value="Automatic" required>
                Automatic
            </label>
      </div>
      <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.transmission.$dirty) && !addCarForm.transmission.$valid">Please select Transmission</div>
      </div>
       <div class="col-xs-2">
      <label>Displacement(cc)</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.displacement" name="displacement"  type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Displacement" />
            </div>
      </div>

      </div>

      <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Power(hp@rpm)</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.power" name="power" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Power"  />
            </div>
        </div>
      <div class="col-xs-2">
      <label >Torque</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.torque" name="torque" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Torque"  />
            </div>
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Gear</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.gear" name="gear" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Gear"  />
            </div>
        </div>
      <div class="col-xs-2">
      <label>Valve Machanism</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.valveMachanism" type="text" class="form-control"  name="valveMachanism" />
            </div>
      </div></div>
      <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Comparation Ratio</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.comparationRatio" name="comparationRatio" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder=""  />
            </div>
        </div>
      <div class="col-xs-2">
      <label >No Of Cylinder</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.noOfCylinder" name="noOfCylinder" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder=""  />
            </div>
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Cylinder Configuration</label></div>
      <div class="col-xs-3 ">
            <input ng-model="Car.phoneNumber" type="text" class="form-control"  name="EDGE" />
        </div>
      <div class="col-xs-2">
      <label>Valves Per Cylinder</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.modelYear" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Price in Rs" name="price" />
      </div>
      </div></div>
    <!-- Body Details -->
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">Body</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Body Type*</label></div>
      <div class="col-xs-3">
       <select ng-model="Car.bodyType"  class="form-control" name="bodyType" required>
                <option value="">Body Type</option>
               <option ng-repeat="btypes in bodyTypes" value="{{btypes}}">{{btypes}}</option>
               
        </select>
        <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.bodyType.$dirty) && !addCarForm.bodyType.$valid">Please select Body Type</div>
      </div>
      <div class="col-xs-2">
      <label>Exterior color*</label></div>
      <div class="col-xs-3">
       <select ng-model="Car.exteriorColor" class="form-control" name="exteriorColor" required>
                  <option value="">Exterior color</option>
                  <option ng-repeat="color in colors" value="{{color}}">{{color}}</option>  
        </select>
        <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.exteriorColor.$dirty) && !addCarForm.exteriorColor.$valid">Please select Exterior color</div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Length(mm)</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.length" name="length" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder=""  />
            </div>
        </div>
      <div class="col-xs-2">
      <label >Width(mm)</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.width" name="width" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="" />
            </div>
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Height(mm)</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.height" name="height" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="" />
            </div>
        </div>
      <div class="col-xs-2">
      <label>Kerb Weight(kg)</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.kerbWeight" name="kerbWeight" type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder=""  />
            </div>
      </div></div>
      <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Seating Capacity</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.seatingCapacity" name="seatingCapacity" type="number" step="1" min="0" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder=""  />
            </div>
        </div>
      <div class="col-xs-2">
      <label >No Of Doors</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.noOfDoors" name="noOfDoors"  type="number" step="1" min="0" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="" />
            </div>
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Wheel Type</label></div>
      <div class="col-xs-3 ">
            <input ng-model="Car.wheelType" name="wheelType" type="text" class="form-control"   />
        </div>
      <div class="col-xs-2">
      <label>Wheel Size(inch)</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.wheelSize" name="wheelSize"  type="number" step="1" min="0" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="" />
            </div>
      </div></div>
      <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Tyres</label></div>
      <div class="col-xs-8 ">
            <div class="input-group">
                <input ng-model="Car.tyres" name="tyres" type="number" step="1" min="0" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="" />
            </div>
        </div>
      </div>
      <!-- Specification -->
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">Specifications</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Assembly*</label></div>
      <div class="col-xs-3">
            <select ng-model="Car.assembly" class="form-control" name="assembly" required>
                <option value="">Assembly Type</option>
                <option value="Local">Local</option>
                <option value="Imported">Imported</option>
            </select>
            <div class="form-error" ng-show="(addCarForm.submitted || addCarForm.assembly.$dirty) && !addCarForm.assembly.$valid">Please select assembly</div>
        </div>
      <div class="col-xs-2">
      <label>Mileage(km)*</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.mileage" name="mileage" type="number" step="1" min="0" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder=""  required/><div class="form-error" ng-show="(addCarForm.submitted || addCarForm.mileage.$dirty) && !addCarForm.mileage.$valid">Please enter mileage</div>
            </div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Minimum Turning Radius</label></div>
      <div class="col-xs-3 ">
            <div class="input-group">
                <input ng-model="Car.minimumTurningRadius" name="minimumTurningRadius"  type="number" step="1" min="0" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="" />
            </div>
        </div>
      <div class="col-xs-2">
      <label >Fuel Type</label></div>
      <div class="col-xs-3 ">
            <select ng-model="Car.fuelType" class="form-control" name="fuelType">
                <option value="">Fuel Type</option>
                <option ng-repeat="ftypes in engineTypes" value="{{ftypes}}">{{ftypes}}</option>
               
            </select>
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Fuel System</label></div>
      <div class="col-xs-3 ">
            <input ng-model="Car.fuelSystem" type="text" class="form-control"  name="fuelSystem" />
        </div>
      <div class="col-xs-2">
      <label>Front Suspension</label></div>
      <div class="col-xs-3">
      <div class="input-group">
               <input ng-model="Car.frontSuspension" type="text" class="form-control"  name="frontSuspension" />
            </div>
      </div></div>
      <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Rare Suspension</label></div>
      <div class="col-xs-3 ">
            <input ng-model="Car.rearSuspension" type="text" class="form-control"  name="rearSuspension" />
        </div>
      <div class="col-xs-2">
      <label >Steering Type</label></div>
      <div class="col-xs-3 ">
            <input ng-model="Car.steeringType" type="text" class="form-control"  name="steeringType" />
        </div>
      </div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Power Assited</label></div>
      <div class="col-xs-3 ">
            <input ng-model="Car.powerAssited" type="text" class="form-control"  name="powerAssited" />
        </div>
      <div class="col-xs-2">
      <label>Front Brakes</label></div>
      <div class="col-xs-3">
      <div class="input-group">
               <input ng-model="Car.frontBrakes" type="text" class="form-control"  name="frontBrakes" />
            </div>
      </div></div>
      <div class="form-group col-xs-12" > 
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Rare Brakes</label></div>
      <div class="col-xs-8">
     <input ng-model="Car.rearBrakes" type="text" class="form-control"  name="rearBrakes" />
      </div>
    </div>
    <!-- Features -->
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12"></label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Features</label></div>
      <div class="col-xs-8">
      <div ng-repeat="Feature in FeaturesModels" class="col-xs-4">
        <input type="checkbox" ng-model="Car.Features[Feature]">
            <label>{{FeaturesName[$index]}}</label>      
      </div>
    </div>
    </div>

 <div class="col-xs-12">
        <hr noshade>
       </div> 
        <div class="col-xs-5"></div>
        <div class="col-xs-2">
  <button type="submit" class="btn btn-primary btn-lg" ng-click="carAdd()">Add Car</button>
          </div>
            <div class="form-group col-xs-12" > 
        <div class="col-xs-4"></div>
        <div class="col-xs-4 form-error" ng-show="addCarForm.submitted && !addCarForm.$valid">{{ch}}Can not submit. Fields marked with * are required.</div>
        </div>

     <!-- End of panels-->
    </div>
    
    </div>

</form>
  </div>
  