<div class="container">
    <div class="box">
        <h2 align="center">Showroom Application Search</h2>
        <br>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="form-group">
            <form>
                <select class="form-control" ng-model="make" ng-change="makeChanged()" >
                    <option ng-repeat="curMake in allMakes" value="{{curMake}}">{{curMake}}</option>
                </select>
                <br>
                <select class="form-control" ng-model="model">
                      <option ng-repeat="curModel in allModels" value="{{curModel}}">{{curModel}}</option>
                </select>
                <br>
                <select class="form-control" ng-model="priceFrom">
                      <option value="From" selected='true'>From</option>
                      <option ng-repeat="price in priceRange" value="{{price*basePrice}}">{{price*basePrice | currency:"Rs":0}}</option>
                </select>
                <br>
                <select class="form-control" ng-model="priceTo">
                      <option value="To" selected='true'>To</option>
                      <option ng-repeat="price in priceRange" value="{{price*basePrice}}">{{price*basePrice | currency:"Rs":0}}</option>
                </select>
               <button type="submit" class="btn btn-primary btn-lg" ng-click="searchCars()">Search</button>
            </form>
            </div>
            </div>
        </div>
    </div>
<br>
</div>

<div class="container" >
 <div ng-show="resultFound()">
     <a class="col-sm-12 box" href="/#/showCar/{{car.id}}" ng-repeat="car in matchedCars">
        <div class="col-sm-3">
          <img ng-if="car.images.length>0" src="/images/{{(car.images[0])}}" />
          <img ng-if="!car.images||car.images.length==0" src="/images/home-banner-new.jpg" />
        </div>
         <div class="col-sm-9">
          <div class="col-sm-12 heading">{{car.name}}</div>
          <div class="col-sm-12 contents">Reg: {{car.registrationCopy}}</div>
          <div class="col-sm-3 contents">{{car.modelYear}}</div>
          <div class="col-sm-3 contents">Mileage: {{car.Specification.mileage}} km</div>
          <div class="col-sm-6 contents">Pkr {{car.price | currency:" ":0}}</div>
          <div class="col-sm-3 contents">{{car.EngineDetails.engineType}}</div>
          <div class="col-sm-3 contents">{{car.EngineDetails.capacity}} cc</div>
          <div class="col-sm-3 contents">{{car.EngineDetails.transmission}}</div>
         </div>
      </a>
 </div>

  <div ng-show="!resultFound()" style="background-color:lavender;">
    <label> Sorry! We could not find any results against your search criteria. </label>
  </div>
</div>