<div class="container">
    <div >
        <h1 align="center">Showroom Application Search</h1>
        <br>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="form-group">
            <form>
                <select class="form-control" ng-model="make" ng-change="makeChanged()" >
                    <option ng-repeat="curMake in allMakes" value="{{curMake}}">{{curMake}}</option>
                </select>
                <br>
                <select class="form-control" ng-model="model">
                      <option ng-repeat="curModel in allModels" value="{{curModel}}">{{curModel}}</option>
                </select>
                <br>
                <select class="form-control" ng-model="priceFrom">
                      <option value="From" selected='true'>From</option>
                      <option ng-repeat="price in priceRange" value="{{price*basePrice}}">{{price*basePrice | currency:"Rs":0}}</option>
                </select>
                <br>
                <select class="form-control" ng-model="priceTo">
                      <option value="To" selected='true'>To</option>
                      <option ng-repeat="price in priceRange" value="{{price*basePrice}}">{{price*basePrice | currency:"Rs":0}}</option>
                </select>

                <br>
                <br>
                <br>
               <button type="submit" class="btn btn-primary btn-lg" ng-click="searchCars()">Search</button>
            </form>
            </div>
            </div>
        </div>
    </div>
<br>
</div>

<div class="container" >
 <div ng-show="resultFound()">
     <div ng-repeat="car in matchedCars"> 
      <div class="form-group col-xs-12" style="background-color:#eee;">
        <div class="form-group col-xs-12">
        <h2>{{ car.name }} </h2> </div>
        
        <div class="form-group col-xs-12">
          <div class="col-xs-3">
            <img ng-src="/images/{{car.images[0]}}" width="80px" height="80px" alt="{{car.name}}">
          </div>
          <div class="col-xs-9">
            <label>Price <mark>{{'   ' + car.price | currency:"Rs":0}} </mark></label>
            <br/>
            <label>Model Year <mark>{{'   ' + car.modelYear}} </mark></label>
          </div>
        </div>
      </div>
     </div>
 </div>

  <div ng-show="!resultFound()" style="background-color:lavender;">
    <label> Sorry! We could not find any results against your search criteria. </label>
  </div>
</div>