<div class="container">
    <div>
        <h3 align="center">Showroom Application Compare</h3>
        <br>
        <div class="row">
            <form novalidate>
              <div class="col-sm-6 col-sm-offset-3 text-center">
                <table class="table table-striped table-hover">
                 <tr ng-repeat="carInd in [0,1,2]">
                    <td><select class="form-control" ng-model="querries[carInd].make" ng-change="makeChanged(carInd)">
                        <option ng-repeat="mk in listData[carInd].makes" value="{{mk}}">{{mk}}</option>
                    </select>
                    </td>
                    <td><select class="form-control" ng-model="querries[carInd].model" ng-change="modelChanged(carInd)">
                          <option ng-repeat="md in listData[carInd].models" value="{{md}}">{{md}}</option>
                    </select>
                    </td>
                    <td><select class="form-control" ng-model="querries[carInd].version" ng-change="varsionChanged(carInd)">
                          <option ng-repeat="v in listData[carInd].versions" value="{{v}}">{{v}}</option>
                    </select>
                    </td>
                </tr>
               </table>
               <label ng-show="!cars" style="background-color:lavender;"> Select atleast two cars for comparison. {{cars}}</label>  </div>
               <div class="col-sm-3">
               <button type="submit" class="btn btn-primary btn-lg" ng-click="compareCars()">Compare</button>  </div>
            </form>
          
        </div>
    </div>
<br>
</div>

<div class="container" >
 <div ng-show="cars.length>0">
  <div class="col-sm-12"><div class="heading"> Compare Specs:-</div>

    <div class="col-sm-12">
        <div class="table-responsive">
          <div class="col-sm-3 subheading">________</div>
          <div class="col-sm-3 subheading">{{cars[0].name}}</div>
          <div class="col-sm-3 subheading">{{cars[1].name}}</div>
          <div class="col-sm-3 subheading">{{cars[2].name}}</div>
          <table class="table  table-striped table-bordered"> 
            <tr ng-repeat="(key , value)  in cars[0]" ng-hide="isObject(value)||(key=='id'||key=='createdAt'||key=='updatedAt'||key=='isNew'||key=='name'||key=='images')">
              <td class="col-sm-3">{{key | capitalize}}</td>
              <td class="col-sm-3">{{cars[0][key]}}</td>
              <td class="col-sm-3">{{(cars[1])?cars[1][key]:"---"}}</td>
              <td class="col-sm-3">{{(cars[2])?(cars[2][key]):"----"}}</td>
            </tr>
          </table>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive">
          <div class="col-sm-12 subheading">Engine Details:-</div>
          <table class="table  table-striped table-bordered"> 
            <tr ng-repeat="(key, value)  in cars[0].EngineDetails">
              <td class="col-sm-3">{{key | capitalize}}</td>
              <td class="col-sm-3">{{cars[0].EngineDetails[key]}}</td>
              <td class="col-sm-3">{{cars[1].EngineDetails[key]}}</td>
              <td class="col-sm-3">{{cars[2].EngineDetails[key]}}</td>
            </tr>
          </table>
        </div>
        <div class="table-responsive" ng-show="show">
          <div class="col-sm-12 subheading">Body Details:-</div>
          <table class="table  table-striped table-bordered"> 
            <tr ng-repeat="(key, value)  in cars[1].Body">
              <td class="col-sm-3">{{key | capitalize}}</td>
              <td class="col-sm-3">{{cars[0].Body[key]}}</td>
              <td class="col-sm-3">{{cars[1].Body[key]}}</td>
              <td class="col-sm-3">{{cars[2].Body[key]}}</td>
            </tr>
          </table>
        </div>
        <div class="table-responsive" ng-show="show">
          <div class="col-sm-12 subheading">Specification:-</div>
          <table class="table  table-striped table-bordered"> 
            <tr ng-repeat="(key, value)  in cars[0].Specification" >
              <td class="col-sm-3">{{key | capitalize}}</td>
              <td class="col-sm-3">{{cars[0].Specification[key]}}</td>
              <td class="col-sm-3">{{cars[1].Specification[key]}}</td>
              <td class="col-sm-3">{{cars[2].Specification[key]}}</td>
            </tr>
          </table>
        </div>
        <hr noshade>
        <a ng-click="showHide()" class="subheading">{{label}}------- </a>
        <hr noshade>
      </div>
  </div>
  <div class="col-sm-12">
    <div class="heading">Compare Features:-</div>
    <div class="table-responsive col-sm-12">
          <table class="table  table-striped table-bordered"> 
            <tr ng-repeat="(key, value)  in cars[0].Features" ng-show="($index<12)?true:showF">
              <td class="col-sm-3">{{key | capitalize}}</td>
              <td ng-show="!cars[0].Features[key]" class="col-sm-3" align="center"><i class="fa fa-times"></i></td>
              <td ng-show="cars[0].Features[key]" class="col-sm-3" 
              align="center"><i class="fa fa-check"></i></td>
              <td ng-show="!cars[1].Features[key]" class="col-sm-3" align="center"><i class="fa fa-times"></i></td>
              <td ng-show="cars[1].Features[key]" class="col-sm-3" 
              align="center"><i class="fa fa-check"></i></td>
              <td ng-show="!cars[2].Features[key]" class="col-sm-3" align="center"><i class="fa fa-times"></i></td>
              <td ng-show="cars[2].Features[key]" class="col-sm-3" 
              align="center"><i class="fa fa-check"></i></td>
            </tr>
          </table>
    </div>
      <hr noshade>
      <a ng-click="showHideF()" class="subheading">{{labelF}}------- </a>
      <hr noshade>
 </div>
 <div ng-show="showNotFound()" style="background-color:lavender;">
    <h3> No result found! </h3>
    <label> We could not find any results against your search criteria. Try with different values. </label>
 </div>

</div>