<div class="container">
    <div class="jumbotron">
        <h1 align="center">Showroom Application Compare</h1>
        <br>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
            <form novalidate>
                <table class="table table-striped table-hover">
                 <tr ng-repeat="carInd in [0,1,2]">
                    <td><select class="form-control" ng-model="querries[carInd].make" ng-change="makeChanged(carInd)">
                        <option ng-repeat="mk in listData[carInd].makes" value="{{mk}}">{{mk}}</option>
                    </select>
                    </td>
                    <td><select class="form-control" ng-model="querries[carInd].model" ng-change="modelChanged(carInd)">
                          <option ng-repeat="md in listData[carInd].models" value="{{md}}">{{md}}</option>
                    </select>
                    </td>
                    <td><select class="form-control" ng-model="querries[carInd].version" ng-change="varsionChanged(carInd)">
                          <option ng-repeat="v in listData[carInd].versions" value="{{v}}">{{v}}</option>
                    </select>
                    </td>
                </tr>
               </table>
               <label ng-show="showInsufData" style="background-color:lavender;"> Select atleast two cars for comparison. </label>
               <br>
               <br>
               <button type="submit" class="btn btn-primary btn-lg" ng-click="compareCars()">Compare</button>
            </form>
            </div>
        </div>
    </div>
<br>
</div>

<div class="container" >
 <div id="resultFound" ng-show='showDetails'>
  <h2>Comparison</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th ng-repeat="thdg in tableHeadings track by $index">{{thdg}}</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in newCompCars track by $index">
        <td>{{car.key}}</td>
        <td>{{car.val1}}</td>
        <td>{{car.val2}}</td>
        <td>{{car.val3}}</td>
        </tr>
    </tbody>
  </table>
 </div>
 <div ng-show="showNotFound()" style="background-color:lavender;">
    <h3> No result found! </h3>
    <label> We could not find any results against your search criteria. Try with different values. </label>
 </div>

</div>