<div class="container">
<form name="postAddForm" novalidate>
  <div class="panel panel-info">
      <div class="panel-heading" style="background-color:#eee; text-align:center;font-size:22px;font-weight:bold">Sell Your Car -It's Easy...It's Simple.. Yes It's FREE</div>
      <div class="panel-body">
      <div class="form-group col-xs-12" >
      <label  class="col-xs-12">Car Information</label>
      
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Model Year*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" ng-model="Car.modelYear" name="modelYear" required>
              <option value="" selected="true">Year</option>
              <option ng-repeat="y in [] | range:yRange" value="{{curYear-$index}}">{{curYear-$index}}</option>
            </select>
            <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.modelYear.$dirty) && !postAddForm.modelYear.$valid">Please select model year</div>
        </div>
      <div class="col-xs-2">
      <label>Make*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" name="make" ng-model="Car.make" ng-change="makeChanged()" required>
                <option value="">Make</option>
                <option ng-repeat="mk in allMakes" value="{{mk}}">{{mk}}</option>
            </select>
            <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.make.$dirty) && !postAddForm.make.$valid">Please select make</div>
        </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label >Model*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" name="model" ng-model="Car.model" ng-change="modelChanged()" required>
                <option value="">Model</option>
                <option ng-repeat="md in allModels" value="{{md}}">{{md}}</option>
            </select>
            <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.model.$dirty) && !postAddForm.model.$valid">Please select model</div>
        </div>
      <div class="col-xs-2">
      <label >Version*</label></div>
      <div class="col-xs-3 ">
            <select  class="form-control" name="version" ng-model="Car.version" required>
                <option value="">Version</option>
                <option ng-repeat="vr in allVersions" value="{{vr}}">{{vr}}</option>
            </select>
            <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.version.$dirty) && !postAddForm.version.$valid">Please select version</div>
        </div></div>
       <div class="form-group col-xs-12" >
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>City*</label></div>
      <div class="col-xs-3 ">
            <select  ng-model="Car.city" class="form-control" name="city" ng-change="cityChanged()" required>
                <option value="">City</option>
                <option ng-repeat="c in allCities" value="{{c}}">{{c}}</option>
            </select>
            <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.city.$dirty) && !postAddForm.city.$valid">Please select your city</div>
        </div>
      <div class="col-xs-2">
      <label>City Area</label></div>
      <div class="col-xs-3 ">
            <select  ng-model="Car.cityArea" class="form-control" name="cityArea">
                <option value="">City Area</option>
                <option ng-repeat="a in allAreas" value="{{a}}">{{a}}</option>
            </select>
        </div>
      </div>
    <div class="form-group col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Mileage(km)*</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input name="mileage" ng-model="Car.mileage" type="number" step="1" min="1" min="10000" class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Mileage" required/><div class="form-error" ng-show="(postAddForm.submitted || postAddForm.mileage.$dirty) && !postAddForm.mileage.$valid">valid range is 1-10000km</div>
      </div>
      </div>
      <div class="col-xs-2">
      <label>Price(RS)*</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input name="price" ng-model="Car.price" type="number" step="1" min="1000" max="10000000" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Price in Rs"/ required><div class="form-error" ng-show="(postAddForm.submitted || postAddForm.price.$dirty) && !postAddForm.price.$valid">valid price is 1000-10000000Rs</div>
      </div>
      </div>
      <div> review form is : {{postAddForm.$valid}}</div>
    </div>
    <div class="form-group col-xs-12" > 
      <hr>
      <label class="col-xs-12">Engine Details</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Engine Type*</label></div>
      <div class="col-xs-3 ">
            <select ng-model="Car.engineType" class="form-control" name="engineType" required>
                <option value="">Engine Type</option>
                <option ng-repeat="types in engineTypes" value="{{types}}">{{types}}</option>
              </select><div class="form-error" ng-show="(postAddForm.submitted || postAddForm.engineType.$dirty) && !postAddForm.engineType.$valid">Please select engine type</div>
        </div>
      <div class="col-xs-2">
      <label>Engine Capacity(cc)*</label></div>
      <div class="col-xs-3">
      <div class="input-group">
                <input ng-model="Car.capacity" name="capacity"  type="number" step="1" min="100" max="9999" class="form-control req" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) ||event.charCode==0' placeholder="Engine Capacity"  required/>
                <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.capacity.$dirty) && !postAddForm.capacity.$valid">Enter valid engine capacity, e.g. 1800</div>
            </div>
      </div>
    </div>
      <div class="form-group col-xs-12" > 
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Transmission*</label></div>
      <div class="col-xs-8">
      <div class="radio ">
            <label>
              <input type="radio" ng-model="Car.transmission" name="transmission" ng-change="transmissionChanged()" value="Manual" required>
                Manual
            </label>
      </div>
      <div class="radio">
            <label>
              <input type="radio" ng-model="Car.transmission" name="transmission"  value="Automatic" required>
                Automatic
            </label>
            <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.transmission.$dirty) && !postAddForm.transmission.$valid">Please select transmission</div>
      </div>

      </div>
    </div>
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">Describe Your Car</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>AD Description*</label></div>
      <div class="col-xs-8">
       <textarea class="form-control" rows="5" ng-model="Car.description" name="description" required></textarea>
       <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.description.$dirty) && !postAddForm.description.$valid">Please give description</div>
      </div>
    </div>
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">More Details</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Registration City</label></div>
      <div class="col-xs-3">
        <select  class="form-control" ng-model="Car.registrationCopy" name="registrationCopy">
                 <option value="">City</option>
                <option ng-repeat="c in allCities" value="{{c}}">{{c}}</option>
               
        </select>
      </div>
      <div class="col-xs-2">
      <label>Exterior Color*</label></div>
      <div class="col-xs-3">
        <select  class="form-control" ng-model="Car.exteriorColor" name="exteriorColor" required>
                  <option value="">Exterior color</option>
                  <option ng-repeat="color in colors" value="{{color}}">{{color}}</option>
               
        </select>
        <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.exteriorColor.$dirty) && !postAddForm.exteriorColor.$valid">Please select Color</div>
      </div>
    </div>
    <div class="form-group col-xs-12" > 
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Assembly*</label></div>
      <div class="col-xs-3">
        <select  class="form-control" ng-model="Car.assembly" name="assembly" required>
              <option value="">Assembly</option>
              <option value="Local">Local</option>
              <option value="Imported">Imported</option>        
        </select>
        <div class="form-error" ng-show="(postAddForm.submitted || postAddForm.assembly.$dirty) && !postAddForm.assembly.$valid">Please select Color</div>
      </div>
    </div>
    <div class="form-group col-xs-12" > 
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Features</label></div>
      <div class="col-xs-8">
      <div ng-repeat="Feature in FeaturesModels" class="col-xs-4">
        <input type="checkbox" ng-model="Car.Features[Feature]">
            <label>{{FeaturesName[$index]}}</label>      
      </div>
    </div>
    </div>
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">Upload Images</label>
      <div class="col-xs-2"></div>
      <label class="col-xs-2 control-label">Images</label>
        <div class="col-xs-8">
            <input name="file" type="file" id="file" file-model="fileToUpload" multiple/>
        </div>
    </div>
    <div class="form-group col-xs-12" > 
      <hr noshade>
      <label class="col-xs-12">Contact Information</label>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
      <label>Phone Number</label></div>
      <div class="col-xs-4">
      <input ng-model="Car.phoneNumber" type="text" class="form-control"  name="phoneNumber" />
      </div>
    </div>
      <div class="col-xs-12">
        <hr noshade>
       </div> 
        <div class="col-xs-5"></div>
        <div class="col-xs-2">
  <button type="submit" class="btn btn-primary btn-lg" ng-click="postAdd()">Post Add</button>
          </div>
            <div class="form-group col-xs-12" > 
        <div class="col-xs-4"></div>
        <div class="col-xs-4 form-error" ng-show="postAddForm.submitted && !postAddForm.$valid">{{ch}}Can not submit. Fields marked with * are required.</div>
        </div>
    </div>
  </div>
 </form>
</div>
  