div.search{
	background-color:#ddd;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
    border: 2px solid #000000;
}
div.space{
margin-top:10px;
}
div a{
	cursor: pointer;
}
div.result{
	margin-top:15px;
}
.heading{
	margin-bottom:10px;
	font-weight: bold;
	font-size: 25px;
	color:#223c7a;
}
.subheading{
	margin-bottom:5px;
	font-weight: bold;
	font-size: 20px;
	color:#223c7a;
}
div.contents{
	margin-bottom:5px;
}
a.box,.box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
    border: 2px solid #000000;
    background: #ffffff;
    padding: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    color:#223c7a;
}
a.box:hover,.box:hover{
	 border-color: #4691e1;
	 color:#4691e1;
}
.fa.fa-check{
	color:green;
}
.fa.fa-times{
	color:red;
}