<!DOCTYPE html>
<html ng-app="carShowroom">
<head>
  <title>Angular Todo Application</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <style>
  body {
      background-repeat: no-repeat;
          background-attachment: fixed;
    background-position: center; 
  }
  </style>
</head>
<body ng-controller="NavCtrl" >
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{'active':isActive(0)}"><a ng-click="tabClick(0)" href="/#/">Home</a></li>
      <li ng-class="{'active':isActive(1)}"><a ng-click="tabClick(1)" href="/#/NewSearch">Search</a></li>
      <li ng-class="{'active':isActive(2)}"><a ng-click="tabClick(2)" href="/#/compare">Compare</a></li>
      <li ng-class="{'active':isActive(3)}"><a ng-click="tabClick(3)" href="/#/postForSellCar">Post Add</a></li>
      <li ng-class="{'active':isActive(4)}"><a ng-click="tabClick(4)" href="/#/addNewCar">Add New Car</a></li>
    </ul>
  </div>
</nav>

 <div ng-view style="color:#31708F;"></div>
 <script type="text/javascript" src="/jst.js"></script>

 <!--SCRIPTS-->
 <script src="/js/dependencies/sails.io.js"></script>
 <script src="/bower_components/jquery/dist/jquery.js"></script>
 <script src="/bower_components/angular/angular.js"></script>
 <script src="/bower_components/angular-route/angular-route.js"></script>
 <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
 <script src="/js/HomeCtrl.js"></script>
 <script src="/js/NewCarCompareCtrl.js"></script>
 <script src="/js/PostCtrl.js"></script>
 <script src="/js/app.js"></script>
 <script src="/js/customFilters/rangeFilter.js"></script>
 <script src="/js/services/showRoomService.js"></script>
 <!--SCRIPTS END-->
</body>
</html>